@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {
    font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

#box {
    margin: 10px;
    width: 20%;
    background-color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#box img {
    width: 100%;

}

#boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    font-family: Pokemon;
}

h2 {
    font-family: sans-serif;
    margin: 0;
}

p {
    font-family: sans-serif;
    margin: 0;
}

button {
    padding: 10px 50px 10px 50px;
    margin: 0;
    background-color: rgb(222, 191, 252);
    border-radius: 10px;
    border-color: white;
    margin-bottom: 10px;

}